#fp-nav {
  top: 40px;
  z-index: 3;
  span {
    background: white !important;
  }
}

.fp-slidesNav {
  text-align: right;
  width: 100%;
  right: 10px;
  left: auto !important;
  z-index: 3;

  span {
    background: white !important;
  }
}

.nav {
  &-prev-up, &-next-down, &-prev-left, &-next-right {
    z-index: 3;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;

    span {
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover {
      transform: translateY(15px);
      span {
        opacity: 1;
      }
    }

    img {
      width: 50px;
    }
  }
  &-next {
    &-down {
      bottom: 20px;
      left: calc(50% - 100px);
      width: 200px;

      &:hover {
        transform: translateY(15px);
      }
    }
    &-right {
      top: calc(50% - 50px);
      right: -120px;
      width: 100px;
      height: 70px;
      flex-direction: row;

      &:hover {
        transform: translateX(15px);
      }
    }
  }

  &-prev {
    &-up {
      top: -75px;
      left: calc(50% - 100px);
      width: 200px;

      &:hover {
        transform: translateY(-15px);
      }
    }

    &-left {
      top: calc(50% - 50px);
      left: -120px;
      width: 100px;
      height: 70px;
      flex-direction: row;

      &:hover {
        transform: translateX(-15px);
      }
    }
  }
}

.section, .slide {
  position: relative;

  .brand, .brand-main {
    z-index: 4;
    max-width: 50%;
    width: 100%;
  }

  .brand-main {
    position: absolute;
    max-width: 30%;
    width: 100%;
    min-width: 200px;
    top: 20px;
    left: 20px;

    &.video {
      opacity: 1;
      transition: all 0.3s ease-in-out;
      left: calc(50% - 15%);
      &-running {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}


.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 2;
  transition: all 0.5s ease;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), transparent);
  cursor: pointer;

  &.hide {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}


.footer-custom {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  z-index: 2;
  transition: all 0.5s ease;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
  cursor: pointer;
  font-family: 'Barlow', sans-serif;
  p {
    color: #fafafa;
    margin: 0;
  }

  &.hide {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}
