#fp-nav {
  top: 50px;
  z-index: 3;
}

.fp-slidesNav {
  text-align: right;
  width: 100%;
  right: 10px;
  left: auto !important;
  z-index: 3;
}


.nav-next-down {
  z-index: 3;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 100px);
  width: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  span {
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    transform: translateY(15px);
    span {
      opacity: 1;
    }
  }

  img {
    width: 50px;
  }
}

.nav-prev-up {
  z-index: 3;
  position: absolute;
  top: 20px;
  left: calc(50% - 100px);
  width: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  span {
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    transform: translateY(-15px);
    span {
      opacity: 1;
    }
  }

  img {
    width: 50px;
  }
}


.section, .slide {
  position: relative;

  .brand, .brand-main {
    z-index: 4;
    max-width: 50%;
    width: 100%;
  }

  .brand-main {
    position: absolute;
    max-width: 30%;
    width: 100%;
    min-width: 200px;
    top: 20px;
    left: 20px;

    &.video {
      opacity: 1;
      transition: all 0.3s ease-in-out;
      left: calc(50% - 15%);
      &-running {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}
